In [10]:

from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://azkar7307:createacluster@cluster0.scidade.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient(uri)

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [11]:
client

MongoClient(host=['ac-eekzedy-shard-00-01.scidade.mongodb.net:27017', 'ac-eekzedy-shard-00-02.scidade.mongodb.net:27017', 'ac-eekzedy-shard-00-00.scidade.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-8jp1lo-shard-0', tls=True)

In [12]:
database = client['youtubecomunity']
database

Database(MongoClient(host=['ac-eekzedy-shard-00-01.scidade.mongodb.net:27017', 'ac-eekzedy-shard-00-02.scidade.mongodb.net:27017', 'ac-eekzedy-shard-00-00.scidade.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-8jp1lo-shard-0', tls=True), 'youtubecomunity')

In [13]:
collection = database['session']
collection

Collection(Database(MongoClient(host=['ac-eekzedy-shard-00-01.scidade.mongodb.net:27017', 'ac-eekzedy-shard-00-02.scidade.mongodb.net:27017', 'ac-eekzedy-shard-00-00.scidade.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-8jp1lo-shard-0', tls=True), 'youtubecomunity'), 'session')

In [14]:
data = {
    'coursename': 'genai',
    'instructorname': 'sunny',
    'modeofsession': 'english'
}
data

{'coursename': 'genai', 'instructorname': 'sunny', 'modeofsession': 'english'}

In [15]:
collection.insert_one(data)

InsertOneResult(ObjectId('65c9bef4a4a227ce0f8c356b'), acknowledged=True)

In [17]:
collection.find()

In [20]:
for record in collection.find():
    # print(id)
    print(record)
    print(type(record))
    print(len(record))

{'_id': ObjectId('65c9bef4a4a227ce0f8c356b'), 'coursename': 'genai', 'instructorname': 'sunny', 'modeofsession': 'english'}
<class 'dict'>
4

In [23]:
print(data)
print(type(data))
print(len(data))

{'coursename': 'genai', 'instructorname': 'sunny', 'modeofsession': 'english', '_id': ObjectId('65c9bef4a4a227ce0f8c356b')}
<class 'dict'>
4

In [25]:
data2 = {'name': 'ram', 'class': 'xii', 'roll_no': 121}
print(data2)
print(type(data2))
print(len(data2))

{'name': 'ram', 'class': 'xii', 'roll_no': 121}
<class 'dict'>
3

In [26]:
collection.insert_many(
    [
        {
            'coursename': 'mlops',
            'instructorname': 'sunnysavita',
            'modeofsession': 'english'
        },
        {
            'coursename': 'mlops',
            'instructorname': 'sunnysavita',
            'modeofsession': 'hindi'
        }
    ]
)

InsertManyResult([ObjectId('65c9c373a4a227ce0f8c356c'), ObjectId('65c9c373a4a227ce0f8c356d')], acknowledged=True)

In [28]:
import pandas as pd

In [31]:
df = pd.DataFrame(
    [
        {
            'coursename': 'DeepLearning',
            'instructorname': 'sunnysavita',
            'modeofsession': 'english'
        },
        {
            'coursename': 'DeepLearning',
            'instructorname': 'sunnysavita',
            'modeofsession': 'hindi'
        }
    ]
)

df

     coursename instructorname modeofsession
0  DeepLearning    sunnysavita       english
1  DeepLearning    sunnysavita         hindi

In [45]:
df.to_json(orient='records') #, path_or_buf='records.json')

'[{"coursename":"DeepLearning","instructorname":"sunnysavita","modeofsession":"english"},{"coursename":"DeepLearning","instructorname":"sunnysavita","modeofsession":"hindi"}]'

In [42]:
df.to_dict(orient='records')

[{'coursename': 'DeepLearning',
  'instructorname': 'sunnysavita',
  'modeofsession': 'english'},
 {'coursename': 'DeepLearning',
  'instructorname': 'sunnysavita',
  'modeofsession': 'hindi'}]

In [36]:
df.to_dict(orient='index')

{0: {'coursename': 'DeepLearning',
  'instructorname': 'sunnysavita',
  'modeofsession': 'english'},
 1: {'coursename': 'DeepLearning',
  'instructorname': 'sunnysavita',
  'modeofsession': 'hindi'}}

In [37]:
df.to_dict(orient='dict')

{'coursename': {0: 'DeepLearning', 1: 'DeepLearning'},
 'instructorname': {0: 'sunnysavita', 1: 'sunnysavita'},
 'modeofsession': {0: 'english', 1: 'hindi'}}

In [38]:
df.to_dict(orient='list')

{'coursename': ['DeepLearning', 'DeepLearning'],
 'instructorname': ['sunnysavita', 'sunnysavita'],
 'modeofsession': ['english', 'hindi']}

In [39]:
df.to_dict(orient='series')

{'coursename': 0    DeepLearning
 1    DeepLearning
 Name: coursename, dtype: object,
 'instructorname': 0    sunnysavita
 1    sunnysavita
 Name: instructorname, dtype: object,
 'modeofsession': 0    english
 1      hindi
 Name: modeofsession, dtype: object}

In [40]:
df.to_dict(orient='split')

{'index': [0, 1],
 'columns': ['coursename', 'instructorname', 'modeofsession'],
 'data': [['DeepLearning', 'sunnysavita', 'english'],
  ['DeepLearning', 'sunnysavita', 'hindi']]}

In [41]:
df.to_dict(orient='tight')

{'index': [0, 1],
 'columns': ['coursename', 'instructorname', 'modeofsession'],
 'data': [['DeepLearning', 'sunnysavita', 'english'],
  ['DeepLearning', 'sunnysavita', 'hindi']],
 'index_names': [None],
 'column_names': [None]}

In [ ]:
df.to_dict(orient='')

In [ ]:
import json

In [49]:
class mongodb_operation:

    def __init__(self,client_url: str, database_name: str, collection_name: str=None):
        self.client_url=client_url
        self.database_name=database_name
        self.collection_name=collection_name
    

    
    def create_client(self):
        client=MongoClient(self.client_url)
        return client
    
    def create_database(self):
        client=self.create_client()
        database=client[self.database_name]
        return database
        
    def create_collection(self,collection=None):
        database=self.create_database()
        if collection:
            collection=database[collection]
        else:
            collection=database[self.collection_name]
        return collection

    def insert_record(self,record:dict,collection_name:str=None):
        if type(record)==list:
            for data in record:
                if type(data)!= dict:
                    raise TypeError("record must be in the dict")
            collection=self.create_collection(collection_name)
            collection.insert_many(record)
        elif type(record)==dict:
            collection=self.create_collection(collection_name)
            collection.insert_one(record)

    def bulk_insert(self,datafile:str,collection_name:str=None):
        self.path=datafile

        if self.path.endswith('.csv'):
            data=pd.read_csv(self.path,encoding='utf-8')

        elif self.path.endswith('.xlsx'):
            data=pd.read_excel(self.path,encoding='utf-8')
            
        # datajson=json.loads(data.to_json(orient='record'))
        collection=self.create_collection()
        collection.insert_many(data.to_json(orient='records'))

In [50]:
client_url = "mongodb+srv://azkar7307:createacluster@cluster0.scidade.mongodb.net/?retryWrites=true&w=majority" # I have created a demo connection for you to understand. You can use your own.
database = "mynewdatabase"
collection_name = "myoldcolumn"

In [51]:
mongo=mongodb_operation(client_url,database,collection_name)

In [53]:
mongo.insert_record({"name":"sunny","designation":"data scientist","salary":"10k"})

In [54]:
mongo.insert_record([{"name":"sunny","designation":"data scientist","salary":"10k"},
{"name":"sudhanshu","designation":"sr. data scientist","salary":"150k"},
{"name":"krish","designation":"lead data scientist","salary":"70k"}
])